:root {
  --primary: darkblue;
  --secondaty: skyblue;
  --tertiary: orangered;
  --shadow: -5px 5px 10px 5px rgba(145, 145, 145, 0.66);
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}
/* global message */
.global {
  background-color: skyblue;
  padding: 10px 0px;
}
.global > div {
  display: flex;
  justify-content: space-between;
}

/* <!-- header section` --> */
header {
  background-color: darkblue;
  color: white;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background: white;
  color: darkblue;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo div {
  border: 2px dotted black;
  color: blue;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
}
header ul li {
  margin-left: 1rem;
}
header ul li:hover {
  cursor: pointer;
  background-color: red;
  transform: scale(1.5);
}
/* <!-- hero section` --> */
.hero {
  background: url(ppp.jpg) no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_content {
  width: 450px;
  background: rgba(0, 0, 0, 0.5);
  padding: 32px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero_content hr {
  width: 100%;
}
/* <!-- latst post recommendation   --> */
.latest {
  background: url(aqua.jpg) no-repeat center;
  padding: 3rem 0;
  background-size: cover;
  filter: grayscale(0.4);
}
.main {
  display: flex;
  width: 66%;
  gap: 1rem;
}

article .art-img {
  width: 350px;
}

.articles {
  width: 66%;
}
article {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--shadow);
  background: rgba(255, 255, 255, 0.547);
  gap: 16px;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 20px 16px;
}
article .btn {
  float: right;
}
.btn {
  background-color: var(--tertiary);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
}
.btn:hover {
  cursor: pointer;
}
.side-links {
  width: 34%;
}
.country {
  background-color: rgb(160, 203, 74, 0.646);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
}
.date {
  background-color: rgb(221, 190, 60, 0.646);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
}
/* recommendation */
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  width: 350px;
  box-shadow: var(--shadow);
  padding-bottom: 32px;
  border-radius: 10px;
  flex-grow: 1;
}
.card img {
  border-radius: 10px 10px 0 0;
}
/* <!-- subscribe section --> */
.sub {
  background: var(--secondaty);
  color: white;
  margin-top: 2rem;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub input {
  line-height: 42px;
  padding: 5px 10px;
  border: 1px solid greenyellow;
  border-radius: 5px;
}

/* <!-- fotter --> */
footer {
  background: black;
  text-align: center;
  color: white;
  padding: 64px;
}
/* media queries */
/* min max <> */

/* ipad view */
@media (width < 992px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .articles {
    width: 100%;
  }
  .side-links {
    display: flex;
    gap: 2rem;
    width: 100%;
  }
  .side-links > div {
    flex-grow: 1;
  }
}

/* phones 550px */
@media (max-width: 550px) {
  article {
    display: flex;
    flex-direction: column;
  }
  article .art-img {
    width: 100%;
  }
  .btn {
    width: 100%;
  }
  .side-links {
    display: flex;
    flex-direction: column;
  }
  .subs form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
